.Hi_container {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}
.developer {
  display: flex;
}
.Hi {
  font-family: "Arvo";
  display: flex;
  flex-direction: row;
  margin: 10% auto auto 10%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 80px;
  text-align: left;
  max-width: 98%;
}
.smallHi {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
}
.Period {
  background-color: rgba(0, 0, 0, 0);
  color: var(--gold);
  padding-right: 10px;
}
.Developer_violinist {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0);
  margin-top: 1em;
}
.inlinePeriod {
  display: flex;
  flex-direction: row;
  margin-left: 0.75%;
}
.Landing_hr {
  background-color: rgba(0, 0, 0, 0);
  color: var(--gold);
  width: 75px;
  border: 1px solid;
  margin-left: 10%;
  margin-bottom: 2.5em;
}

.About_blurb {
  font-size: 24px;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0);
  line-height: 32px;
  margin: auto 23% auto 10%;
}
.arrow_down {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  margin: 5% auto 3% auto;
}
.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-row: 1;
  max-width: 100vw;
  background-size: cover;
  color: white;
  margin: 0;
}
.background {
  background-image: url("../../assets/background.png");
  margin-top: 1%;
  margin: 0 0 !important;
}

@media screen and (max-width: 600px) {
  .Hi {
    flex-direction: column;
    margin-top: 15%;
  }
  .smallHi {
    display: flex;
  }
  .Developer_violinist {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .developer {
    display: flex;
  }
  .smallHi {
    padding-left: 0;
  }
  .arrow_down {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .LandingPage {
    width: 100vw;
  }
  .smallHi {
    padding-left: 0;
  }
  .arrow_down {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .Hi {
    margin-top: 25%;
  }
  .Period {
    padding-right: 0;
    padding-left: 0;
  }
  .inlinePeriod {
    display: flex;
  }
  .developer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .Hi {
    font-size: 60px;
  }
  .smallHi {
    padding-left: 0;
  }
  .Period {
    padding-right: 0;
    text-align: center;
  }
  .inlinePeriod {
    display: flex;
  }
  .developer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 300px) {
  .inlinePeriod {
    display: flex;
    flex-direction: row;
  }
  .developer {
    flex-direction: column;
  }
  .Hi {
    margin-top: 30%;
  }
}
