.thumbnail {
  max-width: 25vw;
  height: auto;
  background-color: var(--gold);
}

.additionalWork {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ViewCode {
  color: var(--gold);
  font-size: 16px;
  text-align: center;
}
.thumbnail_pic {
  box-sizing: border-box;
  background-color: var(--gold);
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}
.profile_link {
  text-align: center;
  margin-top: 5px;
}

.thumbnail_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  width: 25em;
  /* width: 25%; */
  height: 20em;
  /* height: 22%; */

}
.project_wrapper {
  display: flex;
  height: auto;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin-bottom: auto;
  /* margin-left: %; */
}
.project_thumbnails {
  display: flex;
  /* background-color: red; */
  border-radius: 4px;
  justify-content: space-evenly;
  align-items: center;
  width: 98vw;
  margin-bottom: auto;
  min-width: 20vw;
  max-width: 30vw;
}
.Portfolio_title {
  display: flex;
  font-family: "Arvo";
  font-size: 60px;
  max-width: 98%;
  /* height:2em; */
  margin-left: 10%;
}

.Portfolio {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  grid-row: 2;
  grid-column: auto;
  background-color: black;
  color: white;
  max-width: 98%; 
  /* height: 100%; */
  padding-bottom:5%;
}
