.divider {
  color: var(--gold);
  padding: 0 10px;
}
.other-work {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 1;
  height: fit-content;
  text-align: center;
}
.others_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.additionalList {
  list-style: none;
  display: flex;
  flex-flow: row;
  margin: auto 10% auto 2%;
  line-height: 35px;
}
.additionalItems {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "Open Sans", serif;
  line-height: 50px;
}
.additionalWork {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
  font-family: "Open Sans", serif;
}

.additionalTitle {
  display: flex;
  justify-content: center;
}
.icon {
  display: flex;
  background-color: var(--gold);
  align-self: center;
  margin: auto;
}
.screenshot {
  height: 100%;
  width: inherit;
}

.ViewCode:hover {
  text-shadow: 1px 1px;
}
.ViewCode {
  color: var(--gold);
  font-weight: 700;
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}
.deployed_link:hover {
  text-shadow: 1px 1px;
  text-decoration: underline;
  color: white;
}

.deployed_link {
  color: white;
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
.bottom_links {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 1;
  height: fit-content;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 1;
  height: fit-content;
  text-align: center;
  padding-top: 5%;
}

.flip_card {
  background-color: transparent;
  perspective: 1000px;
  width: 24.5em;
  height: 15.5em;
}
.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}
.flip_card_front,
.flip_card_back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
.flip_card_back {
  transform: rotateY(180deg);
  background-color: transparent;
}
.flip_card_front{
  background-color: var(--gold);
  display: flex;
  justify-content: center;
}
.project_item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 2% 0;
  background-color: black;
}


.Portfolio_title {
  display: flex;
  font-family: "Arvo";
  font-size: 60px;
  max-width: 98%;
  margin-left: 10%;
  background-color: black;
}

.Portfolio {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  grid-row: 2;
  grid-column: auto;
  background-color: black;
  color: white;
}



@media screen and (max-width: 1000px) {
  .divider {
    padding: 1px;
  }
  .others_list {
    flex-direction: column;
    margin-right: 10%;
  }
.project_list{
  display: flex;
  flex-direction: column;
}
.project_item{
  padding-top: 2%;
}
  .flip_card {
    max-width: 75%;
    margin: auto;
  }
  .icon {
    padding-right: 0%;
  }
  .additionalTitle{
    flex-direction: column;
    align-content: center;
  }
  .work_period{
    margin-left: auto;
    margin-right: auto;
}
}

/* 
@media screen and (max-width: 450px) {
  .icon {
    margin-left:  auto;
    padding-right: 25%;
  }
  .thumbnail {
    padding-right: 13%;
  }
  .project_list {
    flex-flow: column;

  }
  .additionalList {
    display: flex;
    flex-direction: column;
  }

  .project_item {
    margin-top: 45%;
  }
  .Portfolio_title {
    margin-bottom: 0;
  }
  .additionalWork {
    margin-top: 30%;
  }
  .additionalTitle {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10%;
  }
  .additionalItems {
    margin-top:0;
  }

  .links {
    padding-top: 15%;
  }
  .Address {
    margin-top: 55%;
  }

}

@media screen and (max-width: 375px) {
  .Portfolio_title {
    font-size: 60px;
    margin-left: 7%;
  }
  .project_item {
    max-width: 97%;
    margin-left: 4%;
    margin-bottom: 10%;

  }
  .project_wrapper {
    margin: 0;

  }
  .additionalTitle {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10%;
  }
  .additionalItems {
    margin-top: 0;
    line-height: 1.5;
    text-align: center;
  }
  .additionalWork {
    margin-top: 0;
  }
  .links {
  padding-top: 10%;
  }
  .project_wrapper_bottom{
    padding-top: 0;
  }


}
  
@media screen and (max-width: 300px){
  .Portfolio_title {
    font-size: 50px;
  }

  .additionalTitle {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10%;;
  }
  .additionalItems {
    margin: 10%;
    text-align: left;
    line-height: 1.5;
  }
  .others_list{
    flex-direction: column;
   justify-content: center;
   margin-right: 13%;
  }
} */