.thumbnail{
  max-width: 25vw;
  height: auto;
  background-color: var(--gold);
}

.ViewCode {
  color: var(--gold);
  font-size: 16px;
  text-align: center;
  
}
.thumbnail_pic1 {
  background-image: url("../../assets/BlackTank.png");
  background-color: var(--gold);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20vw;

}
.thumbnail_pic2 {
  background-image: url("../../assets/Saturn.png");
  background-color: var(--gold);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20vw;

}
.thumbnail_pic3 {
  background-image: url("../../assets/FilmReel.png");
  background-color: var(--gold);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20vw;
}

.thumbnail_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  width: 25em;
}
.project_wrapper {
  display: flex;
  /* height: 20em; */
  box-sizing: border-box;
  justify-content: space-evenly;
}
.project_thumbnails {
  display: flex;
  background-color: red;
  border-radius: 4px;
  justify-content: space-evenly;
  width: 100vw;
  margin-bottom: 0;
  min-width: 20vw; 
}
.Portfolio_title {
  display: flex;
  font-family: 'Arvo';
  font-size: 60px;
  max-width: 98%;
  height:2em;
  margin-left: 3%;
}

.Portfolio {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  grid-row: 2;
  grid-column: auto;
  background-color: black;
  color: white;
  border: 2px solid white;
  max-width: 98%;
}
