.About_text {
  font-size: 20px;
  font-family: 'Open Sans';
  max-width: 60%;
}
.headshot {
 height: inherit;
  width: 100%;
}
.About_image {
  /* width: 22.5em; */
  height: 14.5em;
  width: 100%;
  height: 100%;
  /* background-color: var(--gold); */
  margin-right: 2em;
}
.About_wrapper {
  box-sizing: border-box;
  display: flex;
  margin: 0 10% 5% 10%;
  align-items: center;
  justify-content: space-between;
}

.About_title {
  display: flex;
  font-family: "Arvo";
  font-size: 60px;
  max-width: 98%;
  height: 2em;
  align-self: flex-start;
  margin-left: 10%;
  margin-bottom: -10px;
}

.About {
  color: white;
  box-sizing: border-box;
  grid-row: 4;
  box-sizing: border-box;
  justify-content: flex-start;
  max-width: 100vw;
  background-color: black;
}

@media screen and (max-width: 600px){
  .About_wrapper {
    flex-direction: column;
  }
  .About_text {
    max-width: 80%;
  }
}