.Contact_title {
  font-size: 60px;
  display: flex;
  font-family: "Arvo";
  margin: 5% 3%;
}

.Contact_text {
  font-size: 24px;
  margin: auto auto 5% 5%;
}
.Resume_button {
  height: 2.6em;
  width: 13.7em;
  background-color: black;
  font-size: 16px;
  margin: 4em 4.5em 1.5em auto;
  font-family: "Open Sans", serif;
  font-weight: bold;
  border-radius: 5px;
  color: var(--gold);
  border: 2px solid #b2ab11;
}

.Contact_button {
  background-color: var(--gold);
  height: 2.6em;
  width: 13.7em;
  color: black;
  margin: auto 4.5em 4em auto;
  font-size: 16px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  border-radius: 5px;
}

.Content_wrapper {
  display: flex;
  align-content: center;
}

.Resume_link {
  color: var(--gold);
  font-style: none;
}

.Contact_link {
  color: black;
  background-color: var(--gold);
}

.yellow_box {
  width: 79%;
  min-height: 14.7em;
  display: flex;
  border: 4px solid #b2ab11;
  box-sizing: border-box;
  margin: 5% 10% 5% 10%;
  display: flex;
  /* flex-flow: unset; */
  justify-content: space-between;
}
.Contact {
  display: flex;
  grid-row: 5;
  box-sizing: border-box;
  /* border: 1px solid green; */
  color: white;
}
