.Contact_title {
  font-size: 60px;
  display: flex;
  font-family: "Arvo";
  margin: 7% auto auto 15%;
  /* margin: 39px 3% auto 73px; */

}

.Contact_text {
  font-size: 24px;
  margin: 20px auto 40px 15%;
}
.Resume_button {
  height: 2.6em;
  width: 13.7em;
  background-color: black;
  font-size: 16px;
  /* margin-top:7%; */
  font-family: "Open Sans", serif;
  font-weight: bold;
  border-radius: 5px;
  color: var(--gold);
  border: 2px solid #b2ab11;
}

.Contact_button {
  background-color: var(--gold);
  height: 2.6em;
  width: 13.7em;
  color: black;
  margin-top: 12%;
  /* margin-bottom: 7%; */
  font-size: 16px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  border-radius: 5px;
  border: 1px var(--gold) solid;
}

.Content_wrapper {
  display: flex;
  align-content: center;
}

.Resume_link {
  color: var(--gold);
  font-style: none;
}

.Contact_link {
  color: black;
  background-color: var(--gold);
}

.buttons {
  margin: 7% 9% 7% auto;
}

.yellow_box {
  width: 80%;
  min-height: 14.7em;
  display: flex;
  border: 4px solid #b2ab11;
  box-sizing: border-box;
  margin: 5% 10% 5% 10%;
  display: flex;
  justify-content: space-between;
}
.Contact {
  display: flex;
  grid-row: 5;
  box-sizing: border-box;
  color: white;
}
