.Divider {
  color: var(--gold);
  margin-left: 4px;
  margin-right: 4px;
}

.Copywrite {
  color: white;
  margin: 1% auto 1% auto;
  display: flex;
  letter-spacing: 1px;
}

.JHLogo {
  margin: 1% auto 6% auto;
  background-color: black;
}

.Footer_icons {
  display: flex;
  margin: 1% auto auto auto;
  width: 30%;
  justify-content: space-between;
}

.container {
  position: relative;
}
.displayIcon {
  height: auto;
  width: 100%;
}
.Icon {
  position: absolute;
  right:50%;
  left: 50%;
}
.overlay {
  opacity: 0;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;
}

.container:hover .overlay {
  opacity: 1;
}

.Footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
  justify-items: center;

  height: 100%;
}
@media screen and (max-width: 600px){
  .Footer_icons {
    width: 40%;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .Footer {
    max-height: 40vh;
  }
}
@media screen and (max-width: 450px){
  .Footer_icons {
    width: 50%;
    margin-bottom: 3%;
  }
  .Footer {
    max-height: 30vh;
  }
} 
@media screen and (max-width: 375px){
  .Footer_icons {
    width: 60%;
    margin-bottom: 3%;
  }
  .Footer {
    max-height: 40vh;
  }
} 