.Divider {
  color: var(--gold);
  margin-left: 4px;
  margin-right: 4px;
}

.Copywrite {
  color: white;
  margin: 1% auto 1% auto;
  display: flex;
  letter-spacing: 1px;
}

.JHLogo {
  margin: 1% auto 6% auto;
  background-color: black;
}

.Footer_icons {
  display: flex;
  margin: 1% auto auto auto;
  width: 30%;
  justify-content: space-between;
}

.Footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
  justify-items: center;

  height: 100%;
}
