
body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
  height: 100vh;
  /* max-width: initial; */
  margin: auto;
  background-size: cover;
  max-width: 100vw;
}

.App_container {
  width: 100%;
  max-width: 100vw;
  background-size: cover;
  margin-right: 0;
  margin-left: 0;
  background-color: black;
}

@media screen and (max-width: 600px) {
.body {
height: 100vh;
  width: 100vw;}
.App_container {
  height: 100vh;
  width: 100vw;
}
}
@media screen and (max-width: 375px){
  .body {
    height: 100vh;
      width: 100vw;}
    .App_container {
      height: 100vh;
      width: 100vw;
    }
}