* {
  margin: 0 12px 0 12px;
  background-color: var(--black);
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
  height: 100vh;
  width: 100vw;
  margin: auto;
  /* max-width: 100vw; */
  /* min-width: 500px; */
}

