.Languages_title {
    font-size: 60px;
    display: flex;
    font-family: 'Arvo';
    height: 2em;
    margin-left: 3%;
}

.Languages_list {
    list-style: none;
    font-size: 32px;
    height: 100px;
    display: flex;
}
.Languages_wrapper {
    margin: 3.7% 4.3% 3.7%;
    max-width: 60%;
}
.Languages_item {
    display: flex;
}
.slashes {
    list-style: none;
    color: var(--gold);
    display: flex;
}
.outer_wrapper {
    box-sizing: border-box;

}
.Languages {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    color: white;
    box-sizing: border-box;
    grid-row: 3;
    max-height: 500px;
}