.Languages_title {
  font-size: 60px;
  display: flex;
  font-family: "Arvo";
  margin-left: 10%;
  margin-bottom: .4em;
}
.slashes {
  color: var(--gold);
  margin: auto 10px auto 10px;
}
.item_title {
  color: var(--gold);
  font-weight: 600;
  padding-right: 10px;
}
.skills_list {
  font-size: 24px;
  line-height: 2em;
}
.skills_wrapper {
  margin-left: 7%;
  margin-top: -1.5em;
  margin: -1.5% 10% auto 7%
}

.Languages {
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  grid-row: 3;
  background-color: black;


}
.skills_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 400;
}

@media screen and (max-width: 600px){
  .skills_list {
    line-height: 30px;
  }
}